<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WAR CLOCK，LIVE STABLE</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
<div class="body">
    <!-- 计时模式 -->
    <div id="stable" class="title hide">WAR CLOCK，LIVE STABLE</div>
    <!-- 警告模式 -->
    <div id="denger" class="title hide" style="color: #ff0000;">LIVE DANGER，NEED HELP</div>
    <!-- 处理模式 -->
    <div id="warning" class="title hide " style="color: #ff0">PEATCH COMBAT</div>
    <!-- 解除模式 -->
    <div id="close" class="title hide " style="color: #0f0">PROBLEM COLSEDE</div>
    <ul class="ul-title">
        <li>DAYS</li>
        <li>HOURS</li>
        <li>MINUTES</li>
    </ul>
    <ul id="time" class="ul-title ul-content">
    </ul>
</div>
</body>
</html>

<script src="./js/jquery-3.4.1.min.js"></script>
<script src="./js/index.js"></script>